# Injecting environment variables
$env:gcp_credentials_filename="${gcp_credentials_filename}"
$env:gke_cluster_name="${gke_cluster_name}"
$env:gcp_region="${gcp_region}"
$env:client_id="${client_id}"
$env:client_secret="${client_secret}"
$env:tenant_id="${tenant_id}"
$env:AZDATA_USERNAME="${AZDATA_USERNAME}"
$env:AZDATA_PASSWORD="${AZDATA_PASSWORD}"
$env:ACCEPT_EULA="${ACCEPT_EULA}"
$env:REGISTRY_USERNAME="${REGISTRY_USERNAME}"
$env:REGISTRY_PASSWORD="${REGISTRY_PASSWORD}"
$env:ARC_DC_NAME="${ARC_DC_NAME}"
$env:ARC_DC_SUBSCRIPTION="${ARC_DC_SUBSCRIPTION}"
$env:ARC_DC_RG="${ARC_DC_RG}"
$env:ARC_DC_REGION="${ARC_DC_REGION}"

[System.Environment]::SetEnvironmentVariable('gcp_credentials_filename', $env:gcp_credentials_filename,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('gke_cluster_name', $env:gke_cluster_name,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('gcp_region', $env:gcp_region,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('client_id', $env:client_id,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('client_secret', $env:client_secret,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('tenant_id', $env:tenant_id,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_USERNAME', $env:AZDATA_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_PASSWORD', $env:AZDATA_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ACCEPT_EULA', $env:ACCEPT_EULA,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_USERNAME', $env:REGISTRY_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_PASSWORD', $env:REGISTRY_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_NAME', $env:ARC_DC_NAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_SUBSCRIPTION', $env:ARC_DC_SUBSCRIPTION,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_RG', $env:ARC_DC_RG,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_REGION', $env:ARC_DC_REGION,[System.EnvironmentVariableTarget]::Machine)
