# Used by az cli for sourcing Arc Data Services images
# testing purpose
# testing purpose addded some more text
#
export DOCKER_REGISTRY="${DOCKER_REGISTRY}"
export DOCKER_REPOSITORY="${DOCKER_REPOSITORY}"
export DOCKER_TAG="${DOCKER_TAG}"
export DOCKER_USERNAME="${DOCKER_USERNAME}"
export DOCKER_PASSWORD="${DOCKER_PASSWORD}"
export DOCKER_IMAGE_POLICY="Always"

# Used by az cli for deployments to ARM
#
export SUBSCRIPTION_ID="${SUBSCRIPTION_ID}"
export RESOURCE_GROUP_NAME="${RESOURCE_GROUP_NAME}"
export LOCATION="${LOCATION}"
export CONNECTIVITY_MODE="${CONNECTIVITY_MODE}"
export SPN_AUTHORITY="${SPN_AUTHORITY}"
export SPN_CLIENT_ID="${SPN_CLIENT_ID}"
export SPN_TENANT_ID="${SPN_TENANT_ID}"
export SPN_CLIENT_SECRET="${SPN_CLIENT_SECRET}"
export WORKSPACE_ID="${WORKSPACE_ID}"
export WORKSPACE_SHARED_KEY="${WORKSPACE_SHARED_KEY}"
export AZDATA_USERNAME="${AZDATA_USERNAME}"
export AZDATA_PASSWORD="${AZDATA_PASSWORD}"
export ACCEPT_EULA="yes"

# Controller Deployment profiles
#
export KUBERNETES_ENVIRONMENT="${KUBERNETES_ENVIRONMENT}"
export KUBERNETES_STORAGECLASS="${KUBERNETES_STORAGECLASS}"
export CONTROLLER_PROFILE="${CONTROLLER_PROFILE}"
export DEPLOYMENT_INFRASTRUCTURE="${DEPLOYMENT_INFRASTRUCTURE}"

# Parameters used by Direct Mode deployment
#
export ARC_DATASERVICES_EXTENSION_VERSION_TAG="${ARC_DATASERVICES_EXTENSION_VERSION_TAG}"
export ARC_DATASERVICES_EXTENSION_RELEASE_TRAIN="test"
export CUSTOM_LOCATION_OID="${CUSTOM_LOCATION_OID}"
export CONNECTED_CLUSTER_ONBOARDING_TIMEOUT="${CONNECTED_CLUSTER_ONBOARDING_TIMEOUT}"
export CONTROLLER_REGISTRY="${DOCKER_REGISTRY}"
export CONTROLLER_REPOSITORY="${DOCKER_REPOSITORY}"
export CONTROLLER_IMAGE_TAG="${DOCKER_TAG}"
export AZUREARCDATA_RP_API_VERSION="2022-03-01-preview"
export AZUREARCHYDRATION_RP_API_VERSION="2021-08-31-preview"

# Log/test result upload from launcher container
#
export LOGS_STORAGE_ACCOUNT="${LOGS_STORAGE_ACCOUNT}"
export LOGS_STORAGE_ACCOUNT_SAS="${LOGS_STORAGE_ACCOUNT_SAS}"
export LOGS_STORAGE_CONTAINER="${LOGS_STORAGE_CONTAINER}"

# arc-sb-plugin source override
#
export SB_DOCKER_IMAGE_OVERRIDE="${SB_DOCKER_IMAGE_OVERRIDE}"

# Launcher behavior: DEFAULT, SETUP_ONLY, CLEAN_ONLY
#
export LAUNCHER_MODE="${LAUNCHER_MODE}"

# Test parameters
#
export TEST_REPEAT_COUNT="${TEST_REPEAT_COUNT}"
export TESTS_INDIRECT="${TESTS_INDIRECT}"
export TESTS_DIRECT="${TESTS_DIRECT}"
export TEST_TYPE="${TEST_TYPE}"