# Controller deployment mode
#
export CONNECTIVITY_MODE="${CONNECTIVITY_MODE}"

# 1. Extension version
#
export ARC_DATASERVICES_EXTENSION_RELEASE_TRAIN="${ARC_DATASERVICES_EXTENSION_RELEASE_TRAIN}"
export ARC_DATASERVICES_EXTENSION_VERSION_TAG="${ARC_DATASERVICES_EXTENSION_VERSION_TAG}"

# 2. Image version
#
export DOCKER_IMAGE_POLICY="Always"
export DOCKER_REGISTRY="${DOCKER_REGISTRY}"
export DOCKER_REPOSITORY="${DOCKER_REPOSITORY}"
export DOCKER_TAG="${DOCKER_TAG}"

# 3. Arcdata extension version override
# Leave empty for default
# Fill in with Blob URL to override the launcher's pre-packaged version
# Versions from here: https://azcliextensionsync.blob.core.windows.net/index1/index.json
#
export ARC_DATASERVICES_WHL_OVERRIDE=""

# ARM parameters used by az cli
#
export CUSTOM_LOCATION_OID="${CUSTOM_LOCATION_OID}"
export LOCATION="${LOCATION}"
export RESOURCE_GROUP_NAME="${RESOURCE_GROUP_NAME}"
export SPN_CLIENT_ID="${SPN_CLIENT_ID}"
export SPN_CLIENT_SECRET="${SPN_CLIENT_SECRET}"
export SPN_TENANT_ID="${SPN_TENANT_ID}"
export SUBSCRIPTION_ID="${SUBSCRIPTION_ID}"
export WORKSPACE_ID="${WORKSPACE_ID}"
export WORKSPACE_SHARED_KEY="${WORKSPACE_SHARED_KEY}"

# Controller Kubernetes Deployment profiles
#
export CONTROLLER_PROFILE="${CONTROLLER_PROFILE}"
export DEPLOYMENT_INFRASTRUCTURE="${DEPLOYMENT_INFRASTRUCTURE}"
export KUBERNETES_STORAGECLASS="${KUBERNETES_STORAGECLASS}"

# Log/test result upload from launcher container
#
export LOGS_STORAGE_ACCOUNT="${LOGS_STORAGE_ACCOUNT}"
export LOGS_STORAGE_ACCOUNT_SAS="${LOGS_STORAGE_ACCOUNT_SAS}"
export LOGS_STORAGE_CONTAINER="${LOGS_STORAGE_CONTAINER}"

# Test behavior parameters
#
export SQL_HA_TEST_REPLICA_COUNT="3"
export TESTS_DIRECT="direct-crud direct-hydration controldb"
export TESTS_INDIRECT="billing controldb kube-rbac"
export TEST_REPEAT_COUNT="1"
export TEST_TYPE="ci"

# Control Launcher behavior by setting to '1':
#
# - SKIP_PRECLEAN: Skips initial cleanup
# - SKIP_SETUP: Skips Arc Data deployment
# - SKIP_TEST: Skips sonobuoy tests
# - SKIP_POSTCLEAN: Skips final cleanup
# - SKIP_UPLOAD: Skips log upload
#
export SKIP_PRECLEAN="0"
export SKIP_SETUP="0"
export SKIP_TEST="0"
export SKIP_POSTCLEAN="0"
export SKIP_UPLOAD="0"