# Injecting environment variables
$env:AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}"
$env:AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}"
$env:SPN_CLIENT_ID="${SPN_CLIENT_ID}"
$env:SPN_CLIENT_SECRET="${SPN_CLIENT_SECRET}"
$env:SPN_TENANT_ID="${SPN_TENANT_ID}"
$env:SPN_AUTHORITY="${SPN_AUTHORITY}"
$env:AZDATA_USERNAME="${AZDATA_USERNAME}"
$env:AZDATA_PASSWORD="${AZDATA_PASSWORD}"
$env:ACCEPT_EULA="${ACCEPT_EULA}"
$env:ARC_DC_NAME="${ARC_DC_NAME}"
$env:ARC_DC_SUBSCRIPTION="${ARC_DC_SUBSCRIPTION}"
$env:ARC_DC_RG="${ARC_DC_RG}"
$env:ARC_DC_REGION="${ARC_DC_REGION}"
$env:REGISTRY_USERNAME="${REGISTRY_USERNAME}"
$env:REGISTRY_PASSWORD="${REGISTRY_PASSWORD}"
$env:DOCKER_REGISTRY="${DOCKER_REGISTRY}"
$env:DOCKER_REPOSITORY="${DOCKER_REPOSITORY}"
$env:DOCKER_TAG="${DOCKER_TAG}"
$env:AZDATA_URL="${AZDATA_URL}"

[System.Environment]::SetEnvironmentVariable('AWS_ACCESS_KEY_ID', $env:AWS_ACCESS_KEY_ID,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AWS_SECRET_ACCESS_KEY', $env:AWS_SECRET_ACCESS_KEY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_CLIENT_ID', $env:SPN_CLIENT_ID,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_CLIENT_SECRET', $env:SPN_CLIENT_SECRET,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_TENANT_ID', $env:SPN_TENANT_ID,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_AUTHORITY', $env:SPN_AUTHORITY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_USERNAME', $env:AZDATA_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_PASSWORD', $env:AZDATA_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ACCEPT_EULA', $env:ACCEPT_EULA,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_NAME', $env:ARC_DC_NAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_SUBSCRIPTION', $env:ARC_DC_SUBSCRIPTION,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_RG', $env:ARC_DC_RG,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_REGION', $env:ARC_DC_REGION,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_USERNAME', $env:REGISTRY_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_PASSWORD', $env:REGISTRY_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_REGISTRY', $env:DOCKER_REGISTRY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_REPOSITORY', $env:DOCKER_REPOSITORY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_TAG', $env:DOCKER_TAG,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_URL', $env:AZDATA_URL,[System.EnvironmentVariableTarget]::Machine)