apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: role-arc-data-scc
rules:
- apiGroups:
  - security.openshift.io
  resourceNames:
  - arc-data-scc
  resources:
  - securitycontextconstraints
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rb-arc-data-scc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: role-arc-data-scc
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: arc-admin
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: system:serviceaccounts
---
