# Injecting environment variables
$env:gcp_credentials_filename="${gcp_credentials_filename}"
$env:gke_cluster_name="${gke_cluster_name}"
$env:gcp_region="${gcp_region}"
$env:SPN_CLIENT_ID="${SPN_CLIENT_ID}"
$env:SPN_CLIENT_SECRET="${SPN_CLIENT_SECRET}"
$env:SPN_TENANT_ID="${SPN_TENANT_ID}"
$env:SPN_AUTHORITY="${SPN_AUTHORITY}"
$env:AZDATA_USERNAME="${AZDATA_USERNAME}"
$env:AZDATA_PASSWORD="${AZDATA_PASSWORD}"
$env:ACCEPT_EULA="${ACCEPT_EULA}"
$env:ARC_DC_NAME="${ARC_DC_NAME}"
$env:ARC_DC_SUBSCRIPTION="${ARC_DC_SUBSCRIPTION}"
$env:ARC_DC_RG="${ARC_DC_RG}"
$env:ARC_DC_REGION="${ARC_DC_REGION}"
$env:DOCKER_REGISTRY="${DOCKER_REGISTRY}"
$env:DOCKER_REPOSITORY="${DOCKER_REPOSITORY}"
$env:DOCKER_TAG="${DOCKER_TAG}"
$env:adminUsername="${adminUsername}"
$env:REGISTRY_USERNAME="${REGISTRY_USERNAME}"
$env:REGISTRY_PASSWORD="${REGISTRY_PASSWORD}"
$env:MSSQL_MI_NAME="${MSSQL_MI_NAME}"

[System.Environment]::SetEnvironmentVariable('gcp_credentials_filename', $env:gcp_credentials_filename,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('gke_cluster_name', $env:gke_cluster_name,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('gcp_region', $env:gcp_region,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_CLIENT_ID', $env:SPN_CLIENT_ID,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_CLIENT_SECRET', $env:SPN_CLIENT_SECRET,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_TENANT_ID', $env:SPN_TENANT_ID,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('SPN_AUTHORITY', $env:SPN_AUTHORITY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_USERNAME', $env:AZDATA_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('AZDATA_PASSWORD', $env:AZDATA_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ACCEPT_EULA', $env:ACCEPT_EULA,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_NAME', $env:ARC_DC_NAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_SUBSCRIPTION', $env:ARC_DC_SUBSCRIPTION,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_RG', $env:ARC_DC_RG,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('ARC_DC_REGION', $env:ARC_DC_REGION,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_REGISTRY', $env:DOCKER_REGISTRY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_REPOSITORY', $env:DOCKER_REPOSITORY,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('DOCKER_TAG', $env:DOCKER_TAG,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('adminUsername', $env:adminUsername,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_USERNAME', $env:REGISTRY_USERNAME,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('REGISTRY_PASSWORD', $env:REGISTRY_PASSWORD,[System.EnvironmentVariableTarget]::Machine)
[System.Environment]::SetEnvironmentVariable('MSSQL_MI_NAME', $env:MSSQL_MI_NAME,[System.EnvironmentVariableTarget]::Machine)